* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg-card {
  width: 400px;
  height: 500px;
  background-color: whitesmoke;
  margin-top: 30px;
  border-radius: 5px;
  border: 1px solid rgb(175, 175, 175);
  box-shadow: 10px 14px 27px -7px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 10px 14px 27px -7px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 10px 14px 27px -7px rgba(0, 0, 0, 0.47);
}
.email-holder,
.password-holder {
  position: relative;
}
.email-icon,
.password-icon {
  position: absolute;
  top: 38px;
  right: 20px;
}
.reg-card {
  width: 400px;
  height: 500px;
  background-color: whitesmoke;
  margin-top: 30px;
  border-radius: 5px;
  border: 1px solid rgb(175, 175, 175);
  box-shadow: 10px 14px 27px -7px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 10px 14px 27px -7px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 10px 14px 27px -7px rgba(0, 0, 0, 0.47);
}
.inp-container {
  position: relative;
}
.icon-password,
.icon-number,
.icon-email,
.icon-name {
  position: absolute;
  right: 20px;
  top: 40px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.form-control:focus {
  color: #212529;
  background-color: transparent;
  border-color: 1px solid black !important;
  outline: 0;
  box-shadow: none;
}
.mainpage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.adminpage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
